body {
	background: darkgrey;
	padding-bottom: 100px;
}

.box {
	background: lightgrey;
	width: 60vw;
	border: 1px solid black;
	margin-top: 15px;
	margin-bottom: 20px;
}

.profile-pic {
	width: 50px;
}

.nav {
	border-radius: 0%;
}